*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    --twitter-color:#50b7f5;
    --twitter-background:#e6ecfo;
}

.sidebarOption{
    display:flex;
    align-items:center;
    cursor:pointer;
    margin:12px;
}

.sidebaroption .material-icons,
.fa-twitter{
    padding:20px;
}

.sidebarOption h2 {
    font-weight:800;
    font-size:20px;
    margin-right:20px;
}

.sidebarOption:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color:var(--twitter-color);
    transition:color 100ms ease-out;
}

.sidebarOption:active
{
    color: var(--twitter-color);

}

.material-icons
{
    margin-bottom:12px;
    display: flex;
}

.sidebarOption{
    margin-bottom:22px;
}

.text-box
{
    display: flex;
}
 
